.header {
  text-align: center;
  background: url(http://www.clker.com/cliparts/m/s/S/m/s/P/bam-hi.png) no-repeat top center;
  height: 500px;
  color: red;
  font-family: "Lucida Console", monospace;
  font-size: 25px;
  font-weight: 400;
  padding-top: 10%
}

h2 {
  font-family: "Lucida Console", monospace;
}

p {
  font-family: Impact, fantasy;
}
